[Unit]
Description=cjdns-multinstant: routing engine designed for security, scalability, speed and ease of use
Wants=network.target
After=network.target
Requires=cjdns.socket

[Service]
ProtectHome=true
ProtectSystem=true
SyslogIdentifier=cjdroute

Type=forking
ExecStart=/usr/lib/systemd/scripts/cjdns-trap.sh
StandardInput=socket
StandardOutput=socket
StandardError=journal
